$color-blue: #006fb9;
$color-blue-cobalt: #0047ab;
$color-yellow: yellow;
$color-red: red;
$color-white-ivory: #fffff0;
$color-darkWood: #4d3737;
$color-white: white;
$color-turquoise: #40e0d0;
$color-white-off: #faf9f6;
$color-melon: #fdbcb4;
$color-1: #faf9f6;
$color-3: #26648e;

//GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 10rem;

//FONT
$default-font-size: 1.6rem;
$view-font-size: 1.2rem;
